<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weather>
            <general>
                <enabled>1</enabled>
                <default_ip>73.145.135.216</default_ip>
                <show_unit>2</show_unit>
            </general>
        </weather>
    </default>
</config>
