<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <temperature>
            <cron>
                <schedule>0 * * * *</schedule>
            </cron>
            <temp>
                <range_from>10</range_from>
                <range_to>30</range_to>
            </temp>
        </temperature>
    </default>
</config>
