
////  Color nesting
@theme__color__primary: #006341;
@theme__color__primary-alt: darken(@color-brownie1, 5%);
@theme__color__secondary: @color-red11;
//
@link__color: darken(@color-dark-green1, 5%);
@link__hover__color: lighten(@color-dark-green1, 5%);

//  Buttons
@button__color: @color-white;
@button__background: @theme__color__primary;
@button__border: 1px solid transparent;

//  Primary button
@button-primary__background: darken(#006341, 5%);
@button-primary__border: 1px solid transparent;
@button-primary__color: @color-white;
@button-primary__hover__background: lighten(@color-brownie1, 5%);
@button-primary__hover__border: 1px solid transparent;
@button-primary__hover__color: @color-white;

//Navigation
@navigation-level0-item__color: @color-brownie1;
@submenu-item__color: darken(@color-red11, 5%);

@navigation__background: @color-white;
@navigation-desktop-level0-item__color: @color-brownie1;
@navigation-desktop-level0-item__hover__color: darken(@color-red11, 5%);
@navigation-desktop-level0-item__active__color: darken(@color-red11, 5%);

////  Tabs
//@tab-control__background-color: @page__background-color;

////  Forms
//@form-element-input__background: @color-gray89;
//@form-element-input-placeholder__color: @color-gray60;
//
////  Header icons
//@header-icons-color: @color-gray89;
//@header-icons-color-hover: @color-gray60;
