<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tanismo" translate="label" sortOrder="10">
            <label>Tan Demo</label>
        </tab>
        <section id="weather" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Weather</label>
            <tab>tanismo</tab>
            <resource>Magento_Backend::admin</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Temperature Message Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_ip" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default IP Address</label>
                    <comment>Default IP to use for local environments</comment>
                    <validate>required-entry no-whitespace</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="show_unit" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Temperature Unit</label>
                    <validate>required-entry</validate>
                    <source_model>Tan\Backend\Model\Config\Source\ShowUnit</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="cold_message" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Cold Message</label>
                    <comment>Message to display if temperature is below 15°C</comment>
                    <validate>validate-no-html-tags</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="hot_message" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hot Message</label>
                    <comment>Message to display if temperature is above 15°C</comment>
                    <validate>validate-no-html-tags</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
