<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="lastra" frontName="in_a_galaxy">
            <module name="Lastra_Testing"/>
        </route>
    </router>
</config>
